section.pagination
	a.btn.prev(href="#")
		svg
			use(href="#arrow-white")
	a.btn(href="#") 1
	a.btn(href="#") 2
	a.btn.active(href="#") 3
	a.btn.reducer(href="#") …
	a.btn(href="#") 8
	a.btn.next(href="#")
		svg
			use(href="#arrow-white")
