#book_vip-modal {
	.limiter {
		text-align: center;
	}
	.title {
		margin: 25px;
		font-size: 2.125em;
		line-height: 1.62;
		letter-spacing: -0.08875em;
		text-align: center;
		color: #f5f5f5;
		@media (max-width: 768px) {
			margin: 3vw;
		}
	}
	.video-wrapper {
		margin: 40px 25px;
		@media (max-width: 768px) {
			margin: 5vw 3vw;
		}
	}
	.description {
		margin: 35px 10px;
		font-size: 1.875em;
		line-height: 1.6;
		letter-spacing: -0.078125em;
		text-align: center;
		color: #e0e0ff;
		@media (max-width: 768px) {
			margin: 5vw 10px;
		}
	}
	.order-charge {
		margin: 35px 25px 40px;
		font-size: 1.875em;
		font-weight: 500;
		line-height: 1.6;
		letter-spacing: -0.078125em;
		text-align: center;
		color: #ffffff;
		@media (max-width: 768px) {
			margin: 5vw 3vw 5vw;
		}
	}
	.ui-btn {
		display: block;
		width: min-content;
		margin: 25px auto;
		font-size: 22px;
	}
	@media (max-width: 768px) {
		font-size: 2vw;
	}
	@media (max-width: 540px) {
		.ui-btn {
			font-size: 14px;
		}
	}
}
