.form-state-icon.success
	svg
		use(href="#success")

.title We received your inquiry!

.caption Our concierge will be in touch with you #[br]to help coordinate your VIP Performance!

a.ui-btn.primary(data-open-modal="book_vip-modal")
	.btn-caption Back to the show
