section.mobile-video-information
	.inline.down
		.text-side
			.caption Currently Playing:
			.title Ill-esha - Imaginary Friends  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, nam!
		.buttons
			span(data-tooltip="Like")
				a.ui-btn.secondary.thin.flat.active-red(href="#")
					.btn-icon
						svg
							use(href="#heart")
			span(data-tooltip="Set List")
				a.ui-btn.secondary.thin.flat(href="#")
					.btn-icon
						svg
							use(href="#hamburger")
