
article.modal
	.modal-veil
		svg
			use(href='#cross')

	#book_vip-modal.content-wrapper.hidden
		.limiter
			include /components/modals/contents/book-vip.pug

	#book_vip_confirmation-modal.content-wrapper.hidden
		.limiter
			include /components/modals/contents/book-vip-confirmation.pug

	#credits-modal.content-wrapper.hidden
		.limiter
			include /components/object-appeal/buy-credits.pug

	#leave_tip-modal.content-wrapper.hidden
		.limiter
			include /components/object-appeal/leave-tip.pug

	#buy_credits-modal.content-wrapper.hidden
		.limiter
			include /components/object-appeal/buy-credits.pug

	#sign_up-modal.content-wrapper.hidden
		.limiter
			include /components/forms/sign-up.pug

	#sign_in-modal.content-wrapper.hidden
		.limiter
			include /components/forms/sign-in.pug

	#password_recovery-modal.content-wrapper.hidden
		.limiter
			include /components/forms/password-recovery.pug
