
article.modal
	.modal-veil
		svg
			use(href='#cross')

	#book_vip-modal.content-wrapper.hidden
		.limiter
			include /components/modals/contents/book-vip.pug

	#credits-modal.content-wrapper.hidden
		.limiter
			include /components/object-appeal/buy-credits.pug

	#leave_tip-modal.content-wrapper.hidden
		.limiter
			include /components/object-appeal/leave-tip.pug
