section.artist-info

	.image-side
		.image(style="background-image: url(../assets/images/content/artist-example.jpg)")
		.info
			.top
				.inline
					.left
						.title Next Live Stream
						.caption ELEVATED BIRD VOL. 3
						.date apr 26 @ 12:00 PM
					.right
						.ui-btn.primary
							.btn-caption View Event
			.middle
			.bottom
				.progress-bar-caption
					.inline
						.left 20% funded
						.right.end 3 days to go
				.progress-bar
					.progress(style="width: 20%")


	.text-side
		.text-wrapper
			.genres
				.genre Experimental
				.genre trap
				.genre bass music

			.artist-name
				.inline
					.name Spoken Bird and
					.buttons.desktop
						a.ui-btn.secondary.circle.thin.flat.active(href="#" title="follow")
							//- .btn-caption Follow
							.btn-icon
								svg
									use(href="#star")
						a.ui-btn.secondary.thin.circle.flat(href="#" title="share")
							.btn-icon
								svg
									use(href="#share")

			.artist-description Spoken Bird draws influence from glitch, breaks, and hip hop, blending them into one cohesive sound that plunges the listener into the depths of their own imagination. Over the last few years, Seattle-based artist has established his place as one of the most distinguished and respected producers in his class. The mysterious and metamorphic nature of his productions has. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, quibusdam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, quibusdam!

			.buttons.mobile
				a.ui-btn.secondary.thin.active(href="#" title="follow")
					//- .btn-caption Follow
					.btn-icon
						svg
							use(href="#star")
					.btn-caption Follow
				a.ui-btn.secondary.thin(href="#" title="share")
					.btn-icon
						svg
							use(href="#share")
					.btn-caption Share

		.artist-offer
			.inline
				.left.offer-text
					.title VIP Performances
					.description Live musical performances for private groups via two-way video.
				.right.order
					.price
						span.cy $
						span.num 300
						span.rate / hour
					a.ui-btn.primary(href="#")
						.btn-caption Book Now

		//- .chat-bubble
			.avatar-wrapper
				.image(style="background-image: url(../assets/images/content/user-1.jpg)")
				.label.top.right(style="background-color: #ff00aa")
					svg
						use(href="#share")
			.message-content
				.user-name anabanana
				.user-message.blured-3 so excited fo this event my bf and I are  huge fansand haven't been able to enjoy a live show yet!
