section.common-info
	.limit
		.sides-wrapper
			.contacts
				.title Contact Us
				.notice If you have any questions, comments or other inquiries, don't hesitate to reach out.
				a.contact(href="mailto:contact@soundstage.fm")
					.icon(style="background-color: #ff00aa")
						svg
							use(href="#mail")
					.contact-text
						.link contact@soundstage.fm
						.caption Customer Service
				a.contact(href="mailto:inquiries@soundstage.fm")
					.icon(style="background-color: #9c42f5")
						svg
							use(href="#mail")
					.contact-text
						.link inquiries@soundstage.fm
						.caption Artist Inquiries
				.soc-links
					a.button(href="https://fb.com/" target="_BLANK" rel="noopener noreferrer")
						svg
							use(href="#fb")
					a.button(href="https://twitter.com/" target="_BLANK" rel="noopener noreferrer")
						svg
							use(href="#twitter")
					a.button(href="https://instagram.com/" target="_BLANK" rel="noopener noreferrer")
						svg
							use(href="#instagram")
			.about-us
				article.titled-content
					header
						.category about
						.main-row
							.title SoundStage
					.content.ellipsized
						.text At SoundStage we love music and we love artists. It is on this premise that our vision is built. We believe the greater music industry has failed artists making it difficult for them to make a respectable living from their craft. It is our mission to seek new ways of leveraging technology in order to empower artists to live an equitable life doing what they Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ipsa sequi ea, rerum minima dolor ratione cumque vero repellendus ipsam!
						span.read-more Read more
