section.main-hero
	.limit
		.image(style="background-image: url(../assets/images/content/guy.jpg)")
			.event-info
				.date-badge
					.day 26
					.month apr
				.event-title Headphone Activist
		.text-side
			.title Live Acts, Reimagined
			.description Virtually interconneced experiences, that bring fans and artists closer than ever.
			.buttons
				a.ui-btn.primary(href="#")
					span.btn-icon
						svg
							use(href="#play")
					.btn-caption Watch Video
				a.ui-btn.secondary(href="#")
					.btn-caption Discover Events
