section.main-hero {
	margin: 4.5em 0;
	.limit {
		display: flex;
		flex-direction: row-reverse;
	}
	.event-info {
		position: absolute;
		left: 24px;
		bottom: 24px;
	}
	.image {
		flex-basis: 50%;
		margin-left: 20px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 35%;
		border-radius: 1.5em;
		position: relative;
		&:after {
			display: block;
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 50%;
			margin: auto;
			background-image: linear-gradient(to top, rgba(32, 32, 54, 0.8), rgba(32, 32, 54, 0));
		}
	}
	.text-side {
		flex-basis: 50%;
		.title {
			font-size: 3em;
			font-weight: bold;
			line-height: 1;
			letter-spacing: -2px;
			max-width: 350px;
		}
		.description {
			font-size: 1.25em;
			font-weight: 500;
			line-height: 1.8;
			color: rgba(224, 224, 255, 0.6);
			margin: 3em 0 2em;
			max-width: 27.8125em;
		}
		.buttons {
			display: flex;
			margin: -0.75em;
			.ui-btn {
				margin: 0.75em;
			}
		}
	}

	@media (min-width: 450px) and (max-width: 750px) {
		font-size: 2.13vw;
		.text-side .buttons {
			flex-direction: column;
		}
	}

	@media (max-width: 450px) {
		margin: 32px 0 16px;
		.limit {
			flex-direction: column;
		}
		.image {
			flex-basis: auto;
			width: 100%;
			margin: 0;
			height: 44vw;
			.event-info {
				font-size: 3.7vw;
			}
		}
		.text-side {
			margin: 32px 0;
			font-size: 16px;
			.title {
				font-size: 36px;
			}
			.description {
				font-size: 16px;
				margin: 32px 0 24px 0;
			}
			.buttons {
				flex-direction: column;
			}
		}
	}
}
