.countdown-timer.for-forms {
	display: flex;
	margin: auto;
	.cell {
		display: flex;
		flex-direction: column;
		.number-wrapper {
			border-radius: 0.75em;
			padding: 0.5625em 0.125em;
			margin: 0.25em;
			background-color: rgba(224, 224, 255, 0.02);
			text-align: center;
			height: 3em;
			min-width: 3.4375em;
			display: flex;
			justify-content: center;
			align-items: center;
			.number {
				font-family: var(--font-second);
				font-size: 1.5em;
				font-weight: bold;
				line-height: 1;
				letter-spacing: -1px;
			}
		}
		.caption {
			margin: 0.5em;
			font-size: 0.8125em;
			font-weight: 600;
			line-height: 1.23;
			letter-spacing: 1px;
			text-align: center;
			color: rgba(224, 224, 255, 0.6);
			text-transform: uppercase;
		}
	}
	@media (max-width: 540px) {
		font-size: 14px;
	}
}
