article.become-sponsor

	.chat-bubble
		.avatar-wrapper
			.image(style="background-image: url(../assets/images/content/user-1.jpg)")
			.label.top.right(style="background-color: #ff00aa")
				svg
					use(href="#share")
		.message-content
			.user-name anabanana
			.user-message.blured-3 so excited fo this event my bf and I are  huge fans and haven't been able to enjoy a live show yet!

	a.ui-btn.primary(href="#" title="Become a Prime Sponsor")
		.btn-caption Become a Prime Sponsor
