article.benefits-list
	.caption
		| Now available for
		.bold Virtual Interactive Performances
	.list
		.item
			svg
				use(href="#success")
			| Enjoy a private, exclusive set.
		.item
			svg
				use(href="#success")
			| See and hear each other.
		.item
			svg
				use(href="#success")
			| Meet and hang out in real-time.
		.item
			svg
				use(href="#success")
			| Next best thing to having the artist physically present.
	a.ui-btn.primary.desktop-only(href="#")
		span.btn-icon
			svg
				use(href="#play")
		.btn-caption Watch Video
	a.ui-btn.primary.thin.mobile-only(href="#")
		.btn-caption Book VIP Performance
