article.leave-tip-activator
	.appeal-title Enjoying the show?

	a.ui-btn.primary.big-caption.desktop(href="#" data-open-modal="leave_tip-modal")
		.btn-caption Leave a Tip
	a.ui-btn.primary.thin.mobile(href="#" data-open-modal="leave_tip-modal")
		.btn-caption Leave a Tip
