article.leave-tip-activator
	.appeal-title Enjoying the show?

	a.ui-btn.primary.big-caption.desktop(href="#")
		.btn-caption Leave a Tip
	a.ui-btn.primary.thin.mobile(href="#")
		.btn-caption Leave a Tip
