article.registered-for-event {
	display: flex;
	flex-direction: column;
	.form-state-icon {
		margin: 10px auto;
		align-self: center;
		font-size: 9px;
	}
	.form-title {
		margin: 4px auto;
		font-size: 28px;
		font-weight: 600;
		line-height: 1.29;
		letter-spacing: -0.78px;
		text-align: center;
	}
	.form-caption {
		font-size: 13px;
		line-height: 1.23;
		text-align: center;
	}
	.start-date {
		margin: 32px auto;
		font-size: 22px;
		line-height: 1.64;
		letter-spacing: -0.61px;
		color: #c8c8e6;
	}
	.ui-btn {
		margin: 28px auto 17px;
		max-width: 244px;
		width: 100%;
	}
}

article.registered-for-event_type-2 {
	display: flex;
	flex-direction: column;
	.form-state-icon {
		margin: 10px auto;
		align-self: center;
		font-size: 9px;
	}
	.form-title {
		margin: 4px auto;
		font-size: 28px;
		font-weight: 600;
		line-height: 1.29;
		letter-spacing: -0.78px;
		text-align: center;
	}
	.start-date {
		margin: 10px auto;
		font-size: 22px;
		line-height: 1.64;
		letter-spacing: -0.61px;
		color: #c8c8e6;
	}
	.teaser {
		margin: 34px auto 0;
		font-size: 24px;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: -0.67px;
		text-align: center;
	}
	.ui-btn {
		margin: 23px auto 17px;
		max-width: 244px;
		width: 100%;
	}
}


/*=====================================
=            Compact state            =
=====================================*/

article.registered-for-event[max-width~="350px"] {
	.form-title {
		font-size: 20px;
		line-height: 1.6;
		letter-spacing: -0.56px;
	}
	.start-date {
		margin: 26px auto 20px;
		font-size: 18px;
	}
}

article.registered-for-event_type-2[max-width~="350px"] {
	.form-title {
		font-size: 20px;
		line-height: 1.6;
		letter-spacing: -0.56px;
	}
	.start-date {
		margin: 6px auto 8px;
		font-size: 18px;
	}
	.teaser {
		margin: 24px auto 0;
		font-size: 18px;
		line-height: 1.6;
		letter-spacing: -0.56px;
	}
}

/*=====  End of Compact state  ======*/
