article.registered-for-event
	form
		.form-state-icon.success
			svg
				use(href="#success")
		.form-title Registered for Event
		.form-caption Save date and we'll see you soon!
		.start-date June 24, 12:00 PM

		.countdown-timer.for-forms(data-deadline="2020-06-24T00:00:00")
			.cell.day
				.number-wrapper
					.number 09
				.caption day
			.cell.hrs
				.number-wrapper
					.number 11
				.caption hrs
			.cell.min
				.number-wrapper
					.number 03
				.caption min
			.cell.sec
				.number-wrapper
					.number 48
				.caption sec

		a.ui-btn.primary(href="#")
			.btn-caption Rally your Friends!
