article.registered-for-event.win-vip
	.form-title Attend the Kill Paris premiere #[br]to win a VIP Performance!
	.start-date August 08, 8:00 PM

	.countdown-timer.for-forms(data-deadline="2020-08-07T00:08:00")
		.cell.day
			.number-wrapper
				.number 09
			.caption day
		.cell.hrs
			.number-wrapper
				.number 11
			.caption hrs
		.cell.min
			.number-wrapper
				.number 03
			.caption min
		.cell.sec
			.number-wrapper
				.number 48
			.caption sec

	label.agreement.checkbox-label.centered
		label.ui-checkbox
			input(type="checkbox")
			span.checkmark
				svg
					use(href="#check")
		span.caption I accept the #[a(href="#") Terms of Service]

	a.ui-btn.primary(href="#")
		.btn-caption Register for Free
