article.send-message {
	form {
		display: flex;
		flex-direction: column;
	}
	.form-state-icon {
		margin: 10px auto;
		align-self: center;
		font-size: 9px;
	}
	.form-title {
		margin: 4px auto;
		font-size: 28px;
		font-weight: 600;
		line-height: 1.29;
		letter-spacing: -0.78px;
		text-align: center;
	}
	.form-caption {
		font-size: 13px;
		line-height: 1.23;
		text-align: center;
	}
	.ui-input-container {
		margin: 25px * 20px;
	}
	.checkbox-label {
		margin: 0 auto;
		padding: 0 20px;
	}
}


.bottom-buttons {
	margin: 25px 15px 8px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	@media (min-width: 541px) {
		.btn-caption {
			font-size: 16px;
		}
		.ui-btn.primary {
			flex-basis: 130px;
		}
	}
}


.ui-input-container {
	width: auto;
	margin: * 15px;
	flex-grow: 1;
}

/*=====================================
=            Compact state            =
=====================================*/

article.send-message[max-width~="350px"] {
	.form-title {
		font-size: 20px;
		line-height: 1.6;
		letter-spacing: -0.56px;
	}
}

/*=====  End of Compact state  ======*/
