.artists-tiles {
	&:after {
		content: '';
		flex: auto;
	}

	.tile-wrapper {
		flex-basis: 25%;
		width: 25%;
		min-width: 250px;
	}

	@media (min-width: 840px) {
		.tile-wrapper.big .tile {
			flex-direction: row;
			align-items: stretch;
			.tile-image {
				height: auto;
				width: auto;
				flex-grow: 1;
			}
			.tile-content {
				max-width: 48%;
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				.description {
					/* flex-grow: 1; */
					-webkit-line-clamp: 7;
					line-clamp: 7;
				}
			}
			.player {
				display: block;
				margin: auto 16px;
			}
		}
	}

	.tile-content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.name-and-genre {
		margin: 16px;
		display: flex;
		flex-wrap: wrap-reverse;
		align-items: baseline;
		.name {
			flex-grow: 1;
			width: 100%;
			padding-right: 16px;
			font-size: 20px;
			line-height: 1.4;
			letter-spacing: -0.4px;
			font-weight: 600;

			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp:1;
			-moz-line-clamp: 1;
			-ms-line-clamp: 1;
			line-clamp: 1;
			-webkit-box-orient: vertical;
			-moz-box-orient: vertical;

		}
		.genre {
			text-transform: uppercase;
			font-size: 13px;
			margin: 4px 0;
			font-weight: 600;
			line-height: 1.23;
			letter-spacing: 1px;
			color: var(--accent-1);
		}
	}
	.description {
		margin: 0 1em 1em;
	}
	.player {
		display: none;
	}
	.order {
		margin: 16px;
		margin-top: auto;
		display: flex;
		.price {
			font-weight: bold;
			flex-grow: 1;
			padding-right: 16px;
			padding-left: 5px;
			white-space: nowrap;
			.cy {
				font-size: 14px;
				line-height: 1.14;
			}
			.num {
				font-family: var(--font-second);
				font-size: 20px;
				line-height: 1.2;
				letter-spacing: -0.4px;
			}
			.rate {
				font-size: 14px;
				line-height: 1.14;
			}
		}
	}


	@media (max-width: 1080px) {
		/* font-size: 13px;
		margin: 0 -20px; */
		&:after {
			content: 'flickity';
			display: none;
		}
	}
	@media (max-width: 840px) {
		.tile-wrapper {
			width: calc(50% - 16px - 20px - 16px);
			flex-basis: 50%;
		}
	}
	@media (max-width: 570px) {
		margin: 0 -32px;
		margin-bottom: 0;
		.tile-wrapper {
			width: calc(100% - 16px - 20px - 16px);
			flex-basis: 100%;
		}
	}
}
