meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no')
meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
meta(name='MobileOptimized' content='430')
meta(name='HandheldFriendly' content='true')
meta(name='description' content='')
meta(name='keywords' content='')
// Schema.org markup (Google)
script(type='application/ld+json').
	{
	"@context": "http://schema.org",
	"@type": "Organization",
	"address": {
	"@type": "PostalAddress",
	"addressLocality": "City",
	"addressRegion": "Region",
	"addressCountry": "Россия",
	"postalCode": "623000",
	"streetAddress": "Невский пр., 11, 4 этаж"
	},
	"brand": "BrandName",
	"name": "Title of the company",
	"description": "Big description text of the site",
	"url": "../",
	"email": "Company's email",
	"sameAs": [
	"https://vk.com/link",
	"https://www.facebook.com/link",
	"https://www.youtube.com/user/link",
	"https://instagram.com/link"
	],
	"logo": "../soc-logo.svg",
	"image": "../big-soc-image.jpg",
	"telephone": "+7 800 XXX XX XX"
	}

title Title
link(rel="stylesheet", href="css/main.css")
