meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no')
meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
meta(name='MobileOptimized' content='430')
meta(name='HandheldFriendly' content='true')
meta(name='description' content='')
meta(name='keywords' content='')
// Schema.org markup (Google)
script(type='application/ld+json').
	{
	"@context": "http://schema.org",
	"@type": "Organization",
	"address": {
	"@type": "PostalAddress",
	"addressLocality": "City",
	"addressRegion": "Region",
	"addressCountry": "Россия",
	"postalCode": "623000",
	"streetAddress": "Невский пр., 11, 4 этаж"
	},
	"brand": "BrandName",
	"name": "Title of the company",
	"description": "Big description text of the site",
	"url": "../",
	"email": "Company's email",
	"sameAs": [
	"https://vk.com/link",
	"https://www.facebook.com/link",
	"https://www.youtube.com/user/link",
	"https://instagram.com/link"
	],
	"logo": "../soc-logo.svg",
	"image": "../big-soc-image.jpg",
	"telephone": "+7 800 XXX XX XX"
	}
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9c42f5">
<meta name="apple-mobile-web-app-title" content="SoundStage">
<meta name="application-name" content="SoundStage">
<meta name="msapplication-TileColor" content="#27273e">
<meta name="theme-color" content="#27273e">
title Title
link(rel="stylesheet", href="css/main.css")
