doctype html
html(lang="en")
	head
		include /components/head/head.pug
	body
		div(style="display: none")
			include /assets/symbol/svg/sprite.symbol.svg

		section.fullscreen-form
			.limit
				.bg-image
					picture
						source(type="image/webp" srcset="../assets/images/forms-bg.webp")
						img.desktop.objfit(src="../assets/images/forms-bg.jpg")
				.form-wrapper
					form.form
						.title Example of forms
						p Scroll down to view the other forms

						.inline.evenly
							a.ui-btn.blue(href="#")
								span.btn-icon
									svg
										use(href="#fb")
								.btn-caption.desktop Sign Up with FB
								.btn-caption.mobile FB
							a.ui-btn.blue(href="#")
								span.btn-icon
									svg
										use(href="#google")
								.btn-caption.desktop Google Sign Up
								.btn-caption.mobile Google

						.inline.evenly
							label.ui-input-container
								.label-caption Placeholder
								.ui-input-wrapper
									input.ui-input(type="text" placeholder="Placeholder")
							label.ui-input-container.error
								.label-caption Filled with long msg
								.ui-input-wrapper
									input.ui-input(type="text" value="Last Name")
								.error-msg Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, temporibus.
						.inline.evenly
							label.ui-input-container
								.label-caption Selector
								.ui-input-wrapper.selector
									select.ui-input(name="country")
										option(selected="" disabled) Select
										option(value="1") First
										option(value="2") Second
										option(value="3") Third
										option(value="4") Fourth

							label.ui-input-container
								.label-caption Search with datalist
								.ui-input-wrapper.selector
									input.ui-input(list="countries" name="countries" placeholder="Select")
									datalist#countries
										option(value="USA")
										option(value="Canada")
										option(value="China")
										option(value="Russia")
										option(value="Austria")
										option(value="Germany")
										option(value="France")
										option(value="Italy")
										option(value="Japan")
										option(value="Turkey")

						label.ui-input-container
							.label-caption
								| Pay with Credit Card:
								a.additional-action(href="#") New Card
							.ui-input-wrapper.read-only
								.ui-input.spaced •••••••••••••••••1234

						.inline.evenly
							label.ui-input-container.disabled
								.label-caption Disabled
								.ui-input-wrapper
									.ui-input-icon.left
										svg
											use(href="#loupe")
									input.ui-input(type="text" placeholder="Left icon")
							label.ui-input-container.disabled
								.label-caption
									| Disabled
									a.additional-action(href="#") Action
								.ui-input-wrapper
									.ui-input-icon
										svg
											use(href="#mail")
									input.ui-input(type="text" value="Right icon")

						label.ui-input-container
							.label-caption
								| First Name
								a.additional-action(href="#") Forgot First Name?
							.ui-input-wrapper
								input.ui-input(type="text")

						.inline.evenly
							label.ui-input-container
								.label-caption Filled
								.ui-input-wrapper
									input.ui-input(type="text" value="Lorem ipsum")
							label.ui-input-container.error
								.label-caption
									| Last Name
								.ui-input-wrapper
									input.ui-input(type="text" value="Last Name")
								.error-msg Error message

						label.checkbox-label
							label.ui-checkbox
								input(type="checkbox")
								span.checkmark
									svg
										use(href="#check")
							span.caption Some checkbox caption and a #[a(href="#") link].

						.inline
							p Already a member? #[a(href="#") Sign&nbsp;In]
							button.ui-btn.primary
								.btn-caption.desktop Text for desktop
								.btn-caption.mobile Mobile txt




		section.fullscreen-form
			.limit
				.bg-image
					picture
						source(type="image/webp" srcset="../assets/images/forms-bg.webp")
						img.desktop.objfit(src="../assets/images/forms-bg.jpg")
				.form-wrapper
					include /components/forms/sign-up.pug



		section.fullscreen-form
			.limit
				.bg-image
					picture
						source(type="image/webp" srcset="../assets/images/forms-bg.webp")
						img.desktop.objfit(src="../assets/images/forms-bg.jpg")
				.form-wrapper
					include /components/forms/sign-in.pug



		section.fullscreen-form
			.limit
				.bg-image
					picture
						source(type="image/webp" srcset="../assets/images/forms-bg.webp")
						img.desktop.objfit(src="../assets/images/forms-bg.jpg")
				.form-wrapper
					include /components/forms/password-recovery.pug



		section.fullscreen-form
			.limit
				.bg-image
					picture
						source(type="image/webp" srcset="../assets/images/forms-bg.webp")
						img.desktop.objfit(src="../assets/images/forms-bg.jpg")
				.form-wrapper
					include /components/forms/notification.pug

	script(src="js/main.js")
