.header-offset {
	height: 72px;
	@media (max-width: 570px) {
		height: 48px;
	}
}

header.main-header {
	position: fixed;
	padding-right: inherit;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 5;
	transition: background-color .2s;
	@media (min-width: 571px) {
		&.unsticked {
			box-shadow: 0 2px 4px -1px rgba(20, 16, 41, 0.24), 0 0 1px 0 rgba(20, 16, 41, 0.4);
			background-color: var(--bg-1);
			.limit {
				overflow: hidden;
			}
		}
		.base-elements {
			a.menu-btn,
			a.profile-mobile-image,
			.sign-up {
				display: none;
			}
		}
	}
	.limit {
		display: flex;
		align-items: center;
		overflow: visible;
	}
	.logo {
		display: flex;
		align-items: center;
		.image {
			width: 40px;
			height: 44px;
			margin: 14px 0;
		}
		img {
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
		.brand {
			font-size: 24px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			text-transform: uppercase;
			line-height: 1.33;
			letter-spacing: -1px;
			color: #ffffff;
			margin: 16px;
			display: flex;
			align-items: baseline;
			.bold {
				font-weight: 700;
			}
			@media (max-width: 850px) {
				font-size: 2.8vw;
				margin: 1.5vw;
			}
			@media (max-width: 710px) {
				display: none;
			}
		}
	}
	a.profile-menu {
		position: relative;
		padding-right: 24px;
		&:after {
			content: "";
			pointer-events: none;
			user-select: none;
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			transform: rotate(90deg);
			height: 24px;
			width: 24px;
			margin: auto;
			color: white;
			background-image: url(../assets/svg/arrow-right.svg);
			background-size: 50% 50%;
			background-position: center center;
			background-repeat: no-repeat;
			opacity: .4;
		}
		.title,
		.profile-name {
			display: none;
		}
		.profile-image {
			height: 48px;
			width: 48px;
			margin-right: 8px;
			background-color: var(--accent-3);
			border-radius: 50%;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			position: relative;
			svg {
				padding: 3px;
				width: 24px;
				height: 24px;
			}
			img {
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}
	.menu-wrapper {
		flex-grow: 1;
	}
	nav.links-block {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		ul {
			margin: 0 12px;
			margin-right: 3%;
			padding: 0;
			display: flex;
			flex-basis: 460px;
			justify-content: space-around;
		}
		li {
			margin: 0;
			color: white;
			display: inline-block;
			white-space: nowrap;
		}
		a.link {
			padding: 12px;
			text-decoration: none;
			position: relative;
			color: white;
			transition: color .2s;
			transition-timing-function: ease-out;
			&:after {
				content: attr(title);
				position: absolute;
				top: 12px;
				left: 12px;
				user-select: none;
				opacity: 0;
				transition: opacity .2s;
				transition-timing-function: ease-out;
				background: linear-gradient(114deg, rgba(224, 224, 255, 0.40), rgba(224, 224, 255, 0.70)), linear-gradient(114deg, var(--accent-2), var(--accent-1) 53%, var(--accent-3) 100%);
				background-clip: text;
				-webkit-text-fill-color: transparent;
				text-fill-color: transparent;
			}
			&:hover {
				color: transparent;
				transition-timing-function: ease-in;
				transition-duration: .1s;
				&:after {
					opacity: 1;
					transition-timing-function: ease-in;
					transition-duration: .1s;
				}
			}
			/* Disable hover for touchscreens */
			@media (hover: none) and (pointer: coarse) {
				&:before,
				&:after {
					display: none;
				}
				&:hover {
					color: white;
				}
			}
		}
		button {
			flex-shrink: 0;
		}
	}


	/*====================================
	=            mobile state            =
	====================================*/

	@media (max-width: 570px) {
		&.unsticked {
			.base-elements {
				box-shadow: 0 2px 4px -1px rgba(20, 16, 41, 0.24), 0 0 1px 0 rgba(20, 16, 41, 0.4);
				background-color: var(--bg-1);
				.limit {
					overflow: hidden;
				}
			}
		}
		.veil {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 100%;
			height: 100vh;
			background-color: var(--bg-1);
			opacity: 0;
			transition: opacity .2s ease-out;
			pointer-events: none;
			}
		&.opened {
			box-shadow: 0 2px 4px -1px rgba(20, 16, 41, 0.24), 0 0 1px 0 rgba(20, 16, 41, 0.4);
			background-color: var(--bg-1);
			.veil {
				opacity: .8;
				pointer-events: all;
				transition-duration: .2s;
				transition-timing-function: ease-out;
			}
			.menu-wrapper {
				opacity: 1;
				pointer-events: all;
				transform: translateY(0);
				transition-duration: .1s, .2s;
				transition-timing-function: ease-in, ease-out;
			}
			&.unsticked .base-elements {
				box-shadow: none;
			}
		}
		.limit {
			padding: 0;
			display: block;
			position: relative;
		}
		.base-elements {
			width: 100vw;
			padding: 0 16px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			transition: background-color .2s;
			.element {
				width: 30%;
				display: flex;
				justify-content: center;
				&:first-child {
					justify-content: flex-start;
				}
				&:last-child {
					justify-content: flex-end;
				}
			}
			.menu-btn {
				display: block;
				width: 24px;
				height: 24px;
				position: relative;
				svg {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					height: 100%;
					width: 100%;
					transition: opacity .2s;
					transition-timing-function: ease-in;
				}
				svg.hamburger {
					height: 18px;
					width: 18px;
				}
				svg.arrow {
					height: 15px;
					width: 16px;
				}
				svg.cross {
					height: 13px;
					width: 13px;
					opacity: 0;
				}
				&.active {
					svg {
						transition-timing-function: ease-out;
					}
					svg.hamburger {
						opacity: 0;
					}
					svg.cross {
						opacity: 1;
					}
				}
			}
			.logo .image {
				height: 28px;
				width: 25px;
				margin: 10px;
			}
			.sign-up {
				color: white;
				font-size: 14px;
				text-decoration: none;
				white-space: nowrap;
			}
		}

		.profile-mobile-image,
		a.profile-menu .profile-image {
			border-radius: 50%;
			overflow: hidden;
			height: 24px;
			width: 24px;
			position: relative;
			svg {
				width: 100%;
				height: 100%;
				color: white;
			}
			img {
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
		}

		a.profile-menu {
			display: flex;
			align-items: center;
			text-decoration: none;
			margin-left: calc(20% - 40px);
			padding: 12px 16px;
			margin-bottom: 24px;
			.title,
			.profile-name {
				display: block;
				margin: 0 8px;
				font-size: 14px;
				font-weight: 500;
				line-height: 1.71;
				color: rgba(224, 224, 255, 0.6);
			}
			.profile-image {
				margin: 0 8px;
			}
			.title {
				color: white;
				flex-grow: 1;
			}
			&:after {
				transform: none;
				position: static;
			}
		}

		.menu-wrapper {
			box-shadow: 0 2px 4px -1px rgba(20, 16, 41, 0.24), 0 0 1px 0 rgba(20, 16, 41, 0.4);
			background-color: var(--bg-1);
			position: absolute;
			top: 100%;
			width: 100vw;
			padding-top: 16px;
			transform: translateY(-20px);
			opacity: 0;
			transition: opacity .2s ease-out, transform .2s ease-out;
			pointer-events: none;
		}

		nav.links-block {
			margin: 0 auto;
			max-width: 360px;
			justify-content: flex-start;
			flex-direction: column;
			align-items: stretch;
			ul {
				width: 100%;
				margin: 0;
				flex-basis: 0;
				flex-direction: column;
				justify-content: flex-start;
			}
			li {
				margin-left: 20%;
				padding: 12px;
			}
			a.link {
				font-size: 14px;
			}
			.sign-up {
				display: block;
				width: auto;
				margin: 24px;
			}
		}
	}

	/*=====  End of mobile state  ======*/

}
