.header-offset
header.main-header
	.veil
	.limit
		.base-elements
			.element
				a.menu-btn(href="#" data-select-menu="main")
					svg.hamburger
						use(href="#hamburger")
					svg.cross
						use(href="#cross")
			.element
				a.logo(href="../")
					.image
						svg
							use(href="#logo")
					.brand
						svg
							use(href="#logo-text")
			.element
				a.sign-up(href="#" data-open-modal="sign_up-modal") Sign Up
		.menu-wrapper.main
			nav.links-block
				ul
					li #[a.link(href="#" title="Home") Home]
					li #[a.link(href="#" title="Events") Events]
					li #[a.link(href="#" title="Artists") Artists]
					li #[a.link(href="#" title="Work with Us") Work with Us]
				a.sign-up.ui-btn.primary(href="#" data-open-modal="sign_up-modal")
					.btn-caption Sign Up


