.header-offset
header.main-header
	.limit
		.base-elements
			.element
				a.menu-btn(href="#")
					svg.hamburger
						use(href="#hamburger")
					svg.cross
						use(href="#arrow")
			.element
				.logo
					.image
						picture
							source(type="image/webp" srcset="../assets/images/logo.webp")
							img.objfit(src="../assets/images/logo.pngg")
					.brand #[span.bold sound]stage
			.element
				a.sign-up(href="#") Sign Up
		nav.links-block
			ul
				li #[a.link(href="#" title="Home") Home]
				li #[a.link(href="#" title="Events") Events]
				li #[a.link(href="#" title="Artists") Artists]
				li #[a.link(href="#" title="Work with Us") Work with Us]
			a.sign-up.ui-btn.primary(href="#") Sign Up


