.header-offset
header.main-header
	.veil
	.limit.wide
		.base-elements
			.element
				a.menu-btn(href="#" data-select-menu="main")
					svg.hamburger
						use(href="#hamburger")
					svg.cross
						use(href="#cross")
			.element
				.logo
					.image
						picture
							source(type="image/webp" srcset="../assets/images/logo.webp")
							img.objfit(src="../assets/images/logo.png")
					.brand #[span.bold sound]stage
			.element
				a.profile-mobile-image(href="#" data-select-menu="profile")
					svg
						use(href="#person")
					img.objfit(src="../assets/images/content/artist-4.jpg")


		.menu-wrapper.main
			nav.links-block
				ul
					li #[a.link(href="#" title="Home") Home]
					li #[a.link(href="#" title="Events") Events]
					li #[a.link(href="#" title="Artists") Artists]
					li #[a.link(href="#" title="Work with Us") Work with Us]
				a.profile-menu(href="#" data-select-menu="profile")
					.profile-image
						svg
							use(href="#person")
						img.objfit(src="../assets/images/content/artist-4.jpg")
					.title Account
					.profile-name vino_costa

		.menu-wrapper.on-top.dropdown.profile
			.user-name.desktop vino_costa
			.base-elements.mobile
				.element
					a.link.inline(href="#" data-select-menu="main")
						.icon
							svg.arrow-left
								use(href="#arrow-corner")
						| Menu
				.element
					.title Account
				.element
			a.button(href="#")
				svg
					use(href="#person-thin")
				.caption Profile
			a.button(href="#")
				svg
					use(href="#exit")
				.caption Sign Out


