footer.main-footer
	.limit
		.items
			.copy Copyright © 2020 SoundStage.fm All rights reserved.
			a.terms(href="#") Terms & Conditions
			a.privacy(href="#") Privacy Policy
			a.legal(href="#") Legal
