.tiles-in-row.events {
	.tile-wrapper {
		flex-basis: 33%;
		width: 33%;
		min-width: 250px;
	}
	.event-info {
		margin: 0 0 * 0;
		padding-right: 16px;
	}
	&:after {
		content: '';
		display: none;
	}

	@media (max-width: 950px) {
		font-size: 13px;
		margin: 0 -20px;
		margin-bottom: -32px;
		&:after {
			content: 'flickity';
		}
		.event-info .date-badge {
			margin-right: 16px;
		}
	}
	@media (max-width: 750px) {
		.tile-wrapper {
			width: calc(50% - 16px - 20px - 16px);
			flex-basis: 50%;
		}
	}
	@media (max-width: 570px) {
		margin: 0 -32px;
		margin-bottom: 0;
		.tile-wrapper {
			width: calc(100% - 16px - 20px - 16px);
			flex-basis: 100%;
		}
	}
}
