doctype html
html(lang="en")
	head
		include /components/head/head.pug
	body
		div(style="display: none")
			include /assets/symbol/svg/sprite.symbol.svg
		.page-bg.hidden
			picture
				source(type="image/webp" srcset="../assets/images/hero-bg.webp")
				img.desktop.objfit(src="../assets/images/hero-bg.jpg")
			picture
				source(type="image/webp" srcset="../assets/images/hero-bg-mobile.webp")
				img.mobile.objfit(src="../assets/images/hero-bg-mobile.jpg")

		include /components/header/header.pug

		section.titled-content
			.limit
				header
					include /components/breadcrumbs/breadcrumbs.pug
				.content
					include /components/artist/info.pug
					include /components/artist/appeal.pug

		section.titled-content
			.limit
				header
					.category have a question?
					.main-row
						.title.desktop Frequently Asked Questions
						.title.mobile FAQ
				.content
					include /components/faq/faq.pug

		include /components/common-info/info.pug

		include /components/footer/footer.pug
	script(src="js/main.js")
