doctype html
html(lang="en")
	head
		include /components/head/head.pug
	body
		div(style="display: none")
			include /assets/symbol/svg/sprite.symbol.svg
		.page-bg.hidden
			picture
				source(type="image/webp" srcset="../assets/images/hero-bg.webp")
				img.desktop.objfit(src="../assets/images/hero-bg.jpg")
			picture
				source(type="image/webp" srcset="../assets/images/hero-bg-mobile.webp")
				img.mobile.objfit(src="../assets/images/hero-bg-mobile.jpg")

		include /components/header/header.pug

		section.titled-content
			.limit
				header
					include /components/breadcrumbs/breadcrumbs.pug
					.main-row.with-search
						.title Artists
						include /components/search-bar/search-bar.pug
				.content

		include /components/common-info/info.pug

		include /components/footer/footer.pug
	script(src="js/main.js")
