@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

@font-face {
	font-family: 'Averta';
	font-display: swap;
	src: local('Averta Bold'), local('Averta-Bold'),
		url('../fonts/hinted-Averta-Bold.woff2') format('woff2'),
		url('../fonts/hinted-Averta-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
