doctype html
html(lang="en")
	head
		include /components/head/head.pug
	body
		div(style="display: none")
			include /assets/symbol/svg/sprite.symbol.svg
		.page-bg
			picture
				source(type="image/webp" srcset="../assets/images/hero-bg.webp")
				img.desktop.objfit(src="../assets/images/hero-bg.jpg")
			picture
				source(type="image/webp" srcset="../assets/images/hero-bg-mobile.webp")
				img.mobile.objfit(src="../assets/images/hero-bg-mobile.jpg")

		include /components/header/header.pug
		include /components/hero/hero.pug

		section.titled-content
			.limit
				header
					.category discover
					.main-row
						.title Upcoming Events
						a.ui-btn.primary.arrow(href="#")
							.btn-caption View More Events
							span.btn-icon.arrow
								svg
									use(href="#arrow")
				.content
					include /components/tiles-in-row/events.pug

		section.titled-content
			.limit
				header
					.category explore
					.main-row
						.title Featured Artists
						a.ui-btn.primary.arrow(href="#")
							.btn-caption View More Artists
							span.btn-icon.arrow
								svg
									use(href="#arrow")
				.content
					include /components/tiles-in-row/artists.pug

		p TExt 1
		p TExt 2
		p TExt 3
		p TExt 4
		p TExt 5
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt
		p TExt

		include /components/footer/footer.pug
	script(src="js/main.js")
