doctype html
html(lang="en")
	head
		include /components/head/head.pug
	body
		div(style="display: none")
			include /assets/symbol/svg/sprite.symbol.svg
		include /components/header/header.pug

		include /components/footer/footer.pug
	script(src="js/main.js")
