@import './modules.css';

span,
a,
p,
b,
i {
	color: inherit;
	font-family: inherit;
}

.limit {
	max-width: calc(1110px + 20px*2);
	overflow: hidden;
	padding: 0 20px;
	margin: auto;
	width: 100%;
	position: relative;
}

* {
	font-family: var(--font-main);
	color: white;
	line-height: 1.2;
	box-sizing: border-box;
	transition: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 320px;
	background-color: var(--bg-2);
}

svg {
	width: 100%;
}

.objfit {
	object-fit: cover;
	&.contain {
		object-fit: contain;
	}
}
