@import './modules.css';

span,
a,
p,
b,
i {
	color: inherit;
	font-family: inherit;
}

.limit {
	--offset: 20px;
	max-width: calc(1110px + var(--offset)*2);
	padding: 0 var(--offset);
	margin: auto;
	width: 100%;
	position: relative;
	@media (max-width: 570px) {
		--offset: 32px;
	}
}

* {
	font-family: var(--font-main);
	color: white;
	line-height: 1.2;
	box-sizing: border-box;
	transition: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 320px;
	background-color: var(--bg-2);
}

svg {
	width: 100%;
}

.objfit {
	object-fit: cover;
	&.contain {
		object-fit: contain;
	}
}

.page-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	img.desktop {
		--original-size: 1920px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		margin: auto;
		width: calc(var(--original-size)*1.18 + (100% - var(--original-size)));
		max-width: var(--original-size);
	}
	img.mobile {
		display: none;
	}
	@media (max-width: 570px) {
		img.desktop {
			display: none;
		}
		img.mobile {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			margin: auto;
		}
	}
}
