:root {
	--accent-1: 									#9c42f5;
	--accent-2: 									#ff00aa;
	--accent-3: 									#5d2de1;

	--bg-1: 											#27273E;
	--bg-2: 											#202137;
	--bg-3: 											#33334B;


	--font-main: 'Montserrat', 'PT Sans', 'Segoe UI', arial, sans-serif;
	--font-second: 'Averta', 'Uni Sans', 'Tahoma', 'Segoe UI', arial, sans-serif;
}
