:root {
	--dark-blue: 									#142D7F;
	--blue: 											#19389F;

	--font-main: 'Proxima Nova', 'PT Sans', 'Segoe UI', arial, sans-serif;
	--font-second: 'Raleway', 'Uni Sans', 'Tahoma', 'Segoe UI', arial, sans-serif;
}
