article.artist-info
	.genres
		.genre Experimental
		.genre trap
		.genre bass music

	.artist-name
		.inline
			.name Spoken Bird and
			.buttons.desktop
				span(data-tooltip="Follow")
					a.ui-btn.secondary.circle.thin.flat.active(href="#")
						.btn-icon
							svg
								use(href="#star")
				span(data-tooltip="Share")
					a.ui-btn.secondary.thin.circle.flat(href="#")
						.btn-icon
							svg
								use(href="#share")

	.artist-description Spoken Bird draws influence from glitch, breaks, and hip hop, blending them into one cohesive sound that plunges the listener into the depths of their own imagination. Over the last few years, Seattle-based artist has established his place as one of the most distinguished and respected producers in his class. The mysterious and metamorphic nature of his productions has. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, quibusdam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, quibusdam!

	.buttons.mobile
		a.ui-btn.secondary.thin.active(href="#" title="follow")
			.btn-icon
				svg
					use(href="#star")
			.btn-caption Follow
		a.ui-btn.secondary.thin(href="#" title="share")
			.btn-icon
				svg
					use(href="#share")
			.btn-caption Share

	.artist-offer
		.inline
			.left.offer-text
				.title VIP Performances
				.description Live musical performances for private groups via two-way video.
			.right.order
				.price
					span.cy $
					span.num 300
					span.rate / hour
				a.ui-btn.primary(href="#")
					.btn-caption Book Now
