article.become-sponsor {
	font-size: 16px;
	.appeal-title {
		font-size: 28px;
		font-weight: 600;
		line-height: 1.29;
		letter-spacing: -0.78px;
		color: #f5f5f5;
		margin: 9px 0;
		@media (max-width: 540px) {
			font-size: 19px;
			letter-spacing: -0.53px;
		}
		.cursive {
			font-weight: bold;
			font-style: italic;
			color: #ffffff;
		}
	}
	.appeal-description {
		font-size: 18px;
		font-weight: 500;
		line-height: 2;
		letter-spacing: normal;
		text-align: left;
		color: rgba(224, 224, 255, 0.6);
		@media (max-width: 540px) {
			font-size: 12px;
		}
	}
	.ui-btn.mobile {
		margin: * auto;
		align-self: center;
		display: block;
		width: fit-content;
	}
	.chat-bubble {
		margin: 25px 0;
		@media (max-width: 540px) {
			margin: 15px 0 25px;
		}
	}
}
