article.become-sponsor

	.appeal-title Become a #[span.cursive Prime] Sponsor

	.appeal-description The first 3 sponsors of this stream earn the special designation of prime sponsor, and gain free access to this artists next live stream, along with extra SoundStage perks!

	.chat-bubble
		.avatar-wrapper
			.image(style="background-image: url(../assets/images/content/user-1.jpg)")
			.label.top.right(style="background-color: #ff00aa")
				svg
					use(href="#star")
		.message-content
			.user-name anabanana
			.user-message.blured-3 so excited fo this event my bf and I are  huge fans and haven't been able to enjoy a live show yet!

	a.ui-btn.primary.desktop(href="#" title="Become a Prime Sponsor")
		.btn-caption Become a Prime Sponsor
	a.ui-btn.primary.thin.mobile(href="#" title="Become a Prime Sponsor")
		.btn-caption Become a Prime Sponsor
