article.win-vip

	.appeal-title.golden-text Win a VIP Performance

	.appeal-description Kill Paris and SoundStage have partnered up to bring you a one-of-a kind live stream, where you'll get a chance to win a free VIP Performance from the legend himself.

	.list
		.item
			svg
				use(href="#success")
			| Enjoy a private, exclusive set.
		.item
			svg
				use(href="#success")
			| See and hear each other.
		.item
			svg
				use(href="#success")
			| Meet and hang out in real-time.

	a.ui-btn.primary(href="#")
		span.btn-icon
			svg
				use(href="#play")
		.btn-caption Watch Video
