.form {
	max-width: calc(var(--grid-column)*5 + var(--grid-offset)*4);
	display: block;
	width: 100%;
	.title {
		margin: 40px 0 32px;
		line-height: 1;
		letter-spacing: -1px;
		font-size: 36px;
		font-weight: bold;
		color: white;
	}
	a {
		color: var(--accent-1);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	p {
		margin: 24px 0;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.75;
		color: rgba(224, 224, 255, 0.6);
	}
	.form-state-icon {
		padding: 32px;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		&:before {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 100%;
			height: 100%;
			background-color: currentColor;
			opacity: 0.03;
		}
		svg {
			padding: 10px;
			height: 64px;
			width: 64px;
		}
		&.success {
			color: #0FA;
		}
		&.notice {
			color: #0BF;
		}
		&.failure {
			color: #F0A;
		}
		&.warning {
			color: #EF0;
		}
	}
	.inline {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 100%;
		margin: 32px -12px;
		>* {
			margin: 0 12px;
		}
		&.evenly {
			align-items: flex-start;
			>* {
				flex-grow: 1;
				width: auto;
				width: 100px;
			}
		}
		.ui-btn {
			.btn-caption {
				&.mobile {
					display: none;
				}
			}
		}
		@media (max-width: 520px) {
			&.evenly {
				flex-wrap: wrap;
				margin: 24px -12px;
				.ui-input-container {
					width: 100%;
					&:not(:first-child) {
						margin-top: 24px;
					}
					.ui-input {
						width: 100%;
					}
				}
			}
			.ui-btn {
				.btn-caption {
					&.desktop {
						display: none;
					}
					&.mobile {
						display: inline-flex;
					}
				}
			}
		}
	}
}
