form.form

	// choose needed

	.form-state-icon.success
		svg
			use(href="#success")

	//- .form-state-icon.notice
		svg
			use(href="#notice")

	//- .form-state-icon.failure
		svg
			use(href="#failure")

	//- .form-state-icon.warning
		svg
			use(href="#warning")

	.title Congrats!

	p You have successfully reset your password. Now you can easily sign in to your account.

	.inline
		button.ui-btn.primary
			.btn-caption Got it
