form.form
	.title Forgot Password?

	p Enter the email address you used and we’ll send you instructions to reset your password.

	label.ui-input-container
		.label-caption Email
		.ui-input-wrapper
			input.ui-input(type="email" required placeholder="email@example.com" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*$/")

	.inline
		p Not a member? #[a(href="#" data-open-modal="sign_up-modal") Sign&nbsp;Up&nbsp;Now]
		button.ui-btn.primary
			.btn-caption.desktop Send Instructions
			.btn-caption.mobile Send
